{% load static %} 

{% include 'components/#uppercontent.html' %}



<div class="page-wrapper">
  {% include '1booking.html' %} 
  {% include '0intro.html' %}
  <br />
  <br />
  <br />
  <img
  src="{% static 'media/img/undercontent/leaf2.png' %}"
  id="leaf2"
  class="undercontent"
/>
  {% include '2services.html' %}
  {% include 'components/leaves.html' %}
  <br />
  <br />
  <br />
  {% include '3-1gallery.html' %}
  <br />
  <br />
  <br />
  {% include '4cafe-updates.html' %}
  <br />
  <br />
  <br />
  <br />
  {% include '5feedback.html' %}

</div>
