{% load static %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="footer">
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <div class="auto-container">
    <div class="footer-widgets-section">
      <div class="row clearfix">
        <div class="column col-lg-3 col-md-6">
          <div class="widget footer-logo">
            <div class="image">
              <a href="#"
                ><img src="{% static 'media/img/components/Logo.png' %}" alt=""
              /></a>
            </div>
          </div>
        </div>
        <div class="column col-lg-3 col-md-6">
          <div class="widget about-widget">
            <h3 class="widget-title">About Lido Shores</h3>
            <div class="widget-content">
              <div class="about-widget-text">
                For more inquiries kindly message us!
              </div>
              <br />
              <ul class="p-0">
                <li>
                  <a href="mailto:lidoshores.sariaya@gmail.com"
                    ><i class="ri-mail-line"></i>
                    lidoshores.sariaya@gmail.com</a
                  >
                </li>
                <li>
                  <a href="https://chats.viber.com/lidoshores.sariaya"
                    ><i class="fa-brands fa-viber"></i> lidoshores.sariaya</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="column col-lg-3 col-md-6">
          <div class="widget links-widget">
            <h3 class="widget-title">Lido Menu</h3>
            <div class="widget-content">
              <ul class="p-0">
                <li><a href="#">Home</a></li>
                <li><a href="#">Room Rates</a></li>
                <li><a href="#">Cafe</a></li>
                <li><a href="#">Galleries</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column col-lg-3 col-md-6">
          <div class="widget contact-widget">
            <h2 class="widget-title">Sariaya, <span>Quezon Province</span></h2>
            <div class="contact-widget-text">
              Brgy. Talaan, Aplaya, Sariaya, Calabarzon, 4322, Philippines
            </div>
            <div class="contact-widget-social-links">
              <ul>
                <li>
                  <a href="https://web.facebook.com/lidoshores"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a href="https://github.com/Ranjika123"
                    ><i class="ri-mail-line"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com/in/ranjika-nethpriya-087268246"
                    ><i class="fab fa-viber"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row text-muted">
      <div class="col-6 text-start">
        <p class="mb-0">
          <a
            href="https://web.facebook.com/lidoshores"
            target="_blank"
            class="text-muted"
          >
            <strong>Lido Shores Resort - Sariaya</strong> &copy; | All Rights &
            Reserved 2024
          </a>
        </p>
      </div>
      <div class="col-6 text-end">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a
              href="https://chats.viber.com/lidoshores.sariaya"
              target="_blank"
            >
              <i class="fa-brands fa-viber"></i><span> Viber</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://web.facebook.com/lidoshores" target="_blank">
              <i class="ri-facebook-circle-line"></i><span> Facebook</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a
              href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=lidoshores.sariaya@gmail.com"
              target="_blank"
            >
              <i class="ri-mail-line"></i><span> Gmail</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>