{% load static %}
<div class="sticky-nav">
<nav class="navbar navbar-expand navbar-bg">
  <a class="sidebar-toggle js-sidebar-toggle">
    <i class="hamburger align-self-center"></i>
  </a>

  {% comment %} <form class="d-none d-sm-inline-block">
    <div class="input-group input-group-navbar">
      <input
        type="text"
        class="form-control"
        placeholder="Search…"
        aria-label="Search"
      />
      <button class="btn" type="button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-search align-middle"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
      </button>
    </div>
  </form> {% endcomment %}

  <ul class="navbar-nav d-none d-lg-flex">
    <li class="nav-item  dropdown">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="megaDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Lido Menu <i class="ri-arrow-down-s-line"></i>
      </a>
      <div
        class="dropdown-menu dropdown-menu-start dropdown-mega"
        aria-labelledby="megaDropdown"
      >
        <div class="d-md-flex align-items-start justify-content-start">
          <div class="dropdown-mega-list">
            <div class="dropdown-header">Amenities</div>
            <a class="dropdown-item" href="#">Sariaya Beach</a>
            <a class="dropdown-item" href="#">Bilaran Sand Bar</a>
            <a class="dropdown-item" href="#">Kamay ni Hesus</a>
          </div>
          <div class="dropdown-mega-list">
            <div class="dropdown-header">Rooms</div>
            <a class="dropdown-item" href="#">Casita</a>
            <a class="dropdown-item" href="#">Villa</a>
            <a class="dropdown-item" href="#">One Bedroom Villa</a>
            <a class="dropdown-item" href="#">Cove</a>
            <a class="dropdown-item" href="#">Hut</a>
          </div>
          <div class="dropdown-mega-list">
            <div class="dropdown-header">General</div>
            <a class="dropdown-item" href="#">Home</a>
            <a class="dropdown-item" href="#">Bookings</a>
            <a class="dropdown-item" href="#">Room Rates</a>
            <a class="dropdown-item" href="#">Cafe</a>
            <a class="dropdown-item" href="#">Gallery</a>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div class="navbar-collapse collapse">
    <ul class="navbar-nav navbar-align" >
      <li class="nav-item dropdown">
        <a
          class="nav-icon dropdown-toggle"
          href="#"
          id="messagesDropdown"
          data-bs-toggle="dropdown"
          style="transform: translateY(5px);">
          <div class="position-relative">
            <i class="fa-regular fa-bell"></i>
            <span class="indicator">1</span>
          </div>
        </a>
        <div
          class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0"
          aria-labelledby="messagesDropdown"
        >
          <div class="dropdown-menu-header">
            <div class="position-relative">Notifications</div>
          </div>
          <div class="list-group">
            <a href="#" class="list-group-item">
              <div class="row g-0 align-items-center">
                <div class="col-2">
                  <img
                    src="{% static 'media/img/components/logo.png' %}"
                    class="avatar img-fluid rounded-circle"
                    alt="Lido Team"
                  />
                </div>
                <div class="col-10 ps-2">
                  <div class="text-dark">Lido Team</div>
                  <div class="text-muted small mt-1">
                    Welcome to Lido Shores Resort! Thank you...
                  </div>
                  <div class="text-muted small mt-1">15m ago</div>
                </div>
              </div>
            </a>
          </div>
          <div class="dropdown-menu-footer">
            <a href="#" class="text-muted">Show all notifications</a>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-flag dropdown-toggle"
          href="#"
          id="languageDropdown"
          data-bs-toggle="dropdown"
          style="transform: translateY(5px);"
        >
          <img src="{% static 'media/img/flags/us.png '%}" alt="English" />
        </a>
        <div
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="languageDropdown"
        >
          <a class="dropdown-item" href="#">
            <img
              src="{% static 'media/img/flags/us.png '%}"
              alt="English"
              width="20"
              class="align-middle me-1"
            />
            <span class="align-middle">English</span>
          </a>
          <a class="dropdown-item" href="#">
            <img
              src="{% static 'media/img/flags/philippines.png '%}"
              alt="Spanish"
              width="20"
              class="align-middle me-1"
            />
            <span class="align-middle">Filipino</span>
          </a>
          <a class="dropdown-item" href="#">
            <img
              src="{% static 'media/img/flags/spain.png '%}"
              alt="Russian"
              width="20"
              class="align-middle me-1"
            />
            <span class="align-middle">Spanish</span>
          </a>
          <a class="dropdown-item" href="#">
            <img
              src="{% static 'media/img/flags/china.png '%}"
              alt="German"
              width="20"
              class="align-middle me-1"
            />
            <span class="align-middle">Chinese</span>
          </a>
          <a class="dropdown-item" href="#">
            <img
              src="{% static 'media/img/flags/japan.png '%}"
              alt="German"
              width="20"
              class="align-middle me-1"
            />
            <span class="align-middle">Japanese</span>
          </a>
          <a class="dropdown-item" href="#">
            <img
              src="{% static 'media/img/flags/southkorea.png '%}"
              alt="German"
              width="20"
              class="align-middle me-1"
            />
            <span class="align-middle">Korean</span>
          </a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-icon js-fullscreen d-none d-lg-block" href="#"  style="transform: translateY(5px);">
          <div class="position-relative">
            <i class="ri-fullscreen-fill"></i>
          </div>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a
        class="nav-icon pe-md-0 dropdown-toggle" 
        href="#"
        data-bs-toggle="dropdown"
        aria-expanded="false"


      >
        {% if user.is_authenticated %}
          {% if user.profile.avatar.url %}
            <img
              class="rounded-circle account-img"
              src="{{ user.profile.avatar.url }}"
              style="
                cursor: pointer;
                width: 50px;
                height: 50px;
                object-fit: cover;
                border: 2px solid var(--txttertiary);
                margin-bottom: 0px;
              "
            />
          {% else %}
            <img
              src="{% static 'media/img/components/default-guest-active.png' %}"
              class="avatar img-fluid rounded me-1"
              alt="Guest"
              style="width: 50px; height: 50px;                 margin-bottom: 0px;"
            />
          {% endif %}
        {% else %}
          <img
            src="{% static 'media/img/components/default-guest-inactive.png' %}"
            class="avatar img-fluid rounded me-1"
            alt="Guest"
            style="width: 50px; height: 50px; transform: translateY(-4px); "
          />
        {% endif %}
      </a>
      {% if user.is_authenticated %}
      <div class="dropdown-menu dropdown-menu-end" >
        <a class="dropdown-item" href="{% url 'users-profile' %}">
          <i class="ri-user-line"></i>
          &nbspProfile
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <i class="fa-solid fa-wrench"></i> 
          &nbsp Settings &amp; Privacy
        </a>
        <a class="dropdown-item" href="#">
          <i class="ri-questionnaire-line"></i>
          &nbspHelp Center
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{% url 'logout' %}">
          <i class="ri-logout-box-line"></i>
          &nbspLog out
        </a>
      </div>
      {% else %}
      {% comment %} <div class="jumbotron"  style="padding-left: 50px">
        <div class="flex-grow-1 ps-2 mt-0" style="text-align: center">

            <a
              class="btn btn-primary btn-lg px-5 mt-0"
              href="{% url 'login' %}"
              role="button"
            >
              Sign in
            </a>
          </p>
        </div>
      </div> {% endcomment %}
    {% endif %}

    </ul>
  </div>
</nav>
</div>