{% load static %}
<nav id="sidebar" class="sidebar js-sidebar" style="z-index: 999;">
  <div class="sidebar-content js-simplebar" data-simplebar="init">
    <div class="simplebar-wrapper" style="margin: 0px">
      <div class="simplebar-height-auto-observer-wrapper">
        <div class="simplebar-height-auto-observer"></div>
      </div>
      <div class="simplebar-mask">
        <div class="simplebar-offset" style="right: 0px; bottom: 0px">
          <div
            class="simplebar-content-wrapper"
            tabindex="0"
            role="region"
            aria-label="scrollable content"
            style="height: 100%; overflow: hidden scroll"
          >
            <div class="simplebar-content" style="padding: 500px">
              <ul class="sidebar-nav">
                <li class="sidebar-header">
                  <a href="{% url 'lido-home' %}">
                    <img
                      src="{% static 'media/img/components/logo_full.png' %}"
                      alt="logo"
                      class="w-100"
                    />
                  </a>
                </li>

                <li class="sidebar-header">General</li>

                <li class="sidebar-item">
                  <a class="sidebar-link" href="{% url 'lido-home' %}">
                    <i class="ri-home-5-line align-middle icons"></i>
                    <span class="align-middle">Home</span>
                  </a>
                </li>

                {% comment %}
                <li class="sidebar-item">
                  <a class="sidebar-link" href="#">
                    <i class="ri-bookmark-3-fill"></i>
                    <span class="align-middle">Book Now</span>
                  </a>
                </li>
                {% endcomment %}

                <li class="sidebar-item">
                  <a class="sidebar-link" href="{% url 'roomrates' %}">
                    <i class="ri-price-tag-3-line"></i>
                    <span class="align-middle">Room Rates</span>
                  </a>
                </li>

                <li class="sidebar-item">
                  <a class="sidebar-link" href="#">
                    <i class="ri-cup-line"></i>
                    <span class="align-middle">Cafe & Updates</span>
                  </a>
                </li>

                <li class="sidebar-item">
                  <a class="sidebar-link" href="{% url 'lido-gallery' %}">
                    <i class="ri-image-line"></i>
                    <span class="align-middle">Gallery</span>
                  </a>
                </li>

                {% if user.is_authenticated %}
                <li class="sidebar-header">Library</li>

                <li class="sidebar-item">
                  <a class="sidebar-link" href="#">
                    <i class="ri-history-line"></i>
                    <span class="align-middle">History</span>
                  </a>
                </li>

                <li class="sidebar-item">
                  <a class="sidebar-link" href="#">
                    <i class="ri-user-heart-line"></i>
                    <span class="align-middle">Favorites</span>
                  </a>
                </li>
                {% endif %}

                <li class="sidebar-header">Settings</li>

                <li class="sidebar-item">
                  <a class="sidebar-link" href="#">
                    <i class="ri-phone-line"></i>
                    <span class="align-middle">About Us</span>
                  </a>
                </li>

                <li class="sidebar-item">
                  <a class="sidebar-link" href="#">
                    <i class="ri-sun-cloudy-line"></i>
                    <span class="align-middle">Weather</span>
                  </a>
                </li>

                <li class="sidebar-item theme" id="themeButton">
                  <a
                    class="sidebar-link d-flex align-items-center"
                    href="javascript:void(0)"
                  >
                    <div class="text-middle">
                      <i class="theme-icon" id="lightIcon">
                        <i class="ri-moon-fill"></i>
                      </i>

                      <i class="theme-icon" id="darkIcon">
                        <i class="ri-sun-line"></i>
                      </i>

                      <i class="theme-icon" id="solarIcon">
                        <i class="ri-lightbulb-line"></i>
                      </i>
                    </div>
                    <span class="me-0">Theme</span>
                  </a>
                </li>
              </ul>

              <div class="sidebar-user">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="dropdown">
                    <a
                      class="dropdown-toggle d-flex align-items-center"
                      href="#"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      {% if user.is_authenticated %}
                        {% if user.profile.avatar.url %}
                          <img
                            class="rounded-circle account-img"
                            src="{{ user.profile.avatar.url }}"
                            style="
                              cursor: pointer;
                              width: 50px;
                              height: 50px;
                              object-fit: cover;
                              border: 2px solid var(--txttertiary);
                            "
                          />
                        {% else %}
                          <img
                            src="{% static 'media/img/components/default-guest-active.png' %}"
                            class="avatar img-fluid rounded me-1"
                            alt="Guest"
                            style="width: 50px; height: 50px;"
                          />
                        {% endif %}
                      {% else %}
                        <img
                          src="{% static 'media/img/components/default-guest-inactive.png' %}"
                          class="avatar img-fluid rounded me-1"
                          alt="Guest"
                          style="width: 50px; height: 50px;"
                        />
                      {% endif %}
                      <div class="flex-grow-1 ps-2">
                        <h1 class="" style="font-size: 18px; color: var(--txttertiary);">
                          Welcome, {{ user.username|title|default:"Guest" }}<i class="ri-arrow-drop-down-line"></i>
                        </h1>
                        {{ user.email|default:"" }}
                      </div>
                    </a>
                    {% if user.is_authenticated %}
                      <div class="dropdown-menu dropdown-menu-start">
                        <a class="dropdown-item" href="{% url 'users-profile' %}">
                          <i class="ri-user-line"></i>
                          &nbspProfile
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                          <i class="fa-solid fa-wrench"></i> 
                          &nbsp Settings &amp; Privacy
                        </a>
                        <a class="dropdown-item" href="#">
                          <i class="ri-questionnaire-line"></i>
                          &nbspHelp Center
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                          <i class="ri-logout-box-line"></i>
                          &nbspLog out
                        </a>
                      </div>
                    {% else %}
                      <div class="jumbotron"  style="padding-left: 50px">
                        <div class="flex-grow-1 ps-2 mt-0" style="text-align: center">
                          <a
                            class="btn btn-primary btn-lg px-5 mt-0"
                            href="{% url 'login' %}"
                            role="button"
                          >
                            Sign in
                          </a>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div
        class="simplebar-placeholder"
        style="width: auto; height: 1320px"
      ></div>
    </div>
    <div
      class="simplebar-track simplebar-horizontal"
      style="visibility: hidden"
    >
      <div class="simplebar-scrollbar" style="width: 0px; display: none"></div>
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: visible">
      <div
        class="simplebar-scrollbar"
        style="
          height: 387px;
          transform: translate3d(0px, 0px, 0px);
          display: block;
        "
      ></div>
    </div>
  </div>
</nav>
