{% load static %}
<section class="uppercontent">
    <img
      src="{% static 'media/img/uppercontent/sky.png' %}"
      id="sky"
      class="wallpaper"
    />
  
    <h2 id="text">
      <span>Immerse Yourself in the Wonder of</span><br />Lido Shores
    </h2>
    <img src="{% static 'media/img/uppercontent/beach.png' %}" id="beach" />
    <img src="{% static 'media/img/uppercontent/bird1.png' %}" id="bird1" />
    <img src="{% static 'media/img/uppercontent/bird2.png' %}" id="bird2" />
    <a href="#sec" id="explore">E X P L O R E</a>
    <img
      src="{% static 'media/img/uppercontent/rocks.png' %}"
      id="rocks"
      style="z-index: 1"
    />
    <img
      src="{% static 'media/img/uppercontent/sand.png' %}"
      id="sand"
      style="z-index: 1"
    />
    <img src="{% static 'media/img/uppercontent/tree1.png' %}" id="tree1" />
    <img src="{% static 'media/img/uppercontent/tree2.png' %}" id="tree2" />
  
  </section>