{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/2adbanner.css' %}" />
</head>

<div class="adbanner-container" id="adbanner">
  <div class="adbanner">
    <div class="left_object">
      <img src="{% static 'media/img/Rooms/Casita.jpg' %}" alt="" />
    </div>
    <div class="adcontent">
      <span>Casita on Discount!</span>
      <h3>50% 0ff</h3>
      <p>offer ends after 5 days</p>
      <a href="#" class="btn">View Offer</a>
    </div>
    <div class="right_object">
      <img src="{% static 'media/img/Adplaceholder.png' %}" alt="" />
    </div>
  </div>
</div>
