{% load static %}
<section class="about-one-section style-two">
  <div class="auto-container" style="background: var(--bgprimary)">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="about-one-wrapper-two text-center">
          <div class="about-one-image-five">
            <div
              class="wow fadeInUp"
              data-wow-delay="500ms"
              data-wow-duration="1500ms"
            >
              <img
                src="{% static 'media/img/components/logo-circle.png' %}"
                alt=""
              />
            </div>
          </div>
          <div class="about-one-rating">4.02 <i class="fas fa-star"></i></div>
          <h2
            class="about-one-title wow fadeInUp"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            Welcome to Lido Shores Resort
          </h2>
          <h4
            class="about-one-title-two wow fadeInUp"
            data-wow-delay="300ms"
            data-wow-duration="1500ms"
          >
            "Revel in Seaside Sophistication"
          </h4>
          <div
            class="about-one-text mb-50 wow fadeInUp"
            data-wow-delay="500ms"
            data-wow-duration="1500ms"
          >
            Indulge in an extraordinary coastal retreat at Lido Shores, a
            distinguished seaside resort in Sariaya, Quezon, where modern
            comforts harmoniously meet traditional hospitality amid stunning sea
            views, impeccably appointed accommodations, and unwavering attention
            to your every need.
          </div>
          <div
            class="about-one-signature mb-50 wow fadeInUp"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
          >
            <img
              src="{% static 'media/img/components/logo_full.png' %}"
              alt=""
            />
          </div>
          <div
            id="showcase-social"
            class="text-center mb-3"
            style="font-size: 20px"
          >
            <a href="https://web.facebook.com/lidoshores" target="_blank">
              <i class="fa-brands fa-facebook" id="showcase-social"></i>
            </a>
            <a
              href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=lidoshores.sariaya@gmail.com"
              target="_blank"
            >
              <i class="fa-regular fa-envelope" id="showcase-social"></i>
            </a>
            <a
              href="https://chats.viber.com/lidoshores.sariaya"
              target="_blank"
            >
              <i class="fa-brands fa-viber" id="showcase-social"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="single-portfolio-content img_hover_3">
          <img src="{% static 'media/img/gallery/Day5.jpg' %}" alt="" />
          <div class="hover-content">
            <a
              data-fancybox="gallery"
              href="{% static 'media/img/gallery/Day5.jpg' %}"
              class="portfolio-img"
              ><i class="ri-heart-3-line"></i></a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="single-portfolio-content img_hover_3">
          <img src="{% static 'media/img/gallery/Day6.jpg' %}" alt="" />
          <div class="hover-content">
            <a
              data-fancybox="gallery"
              href="{% static 'media/img/gallery/Day6.jpg' %}"
              class="portfolio-img"
              ><i class="ri-heart-3-line"></i></a
            >
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="single-portfolio-content img_hover_3">
          <img src="{% static 'media/img/gallery/Night5.jpg' %}" alt="" />
          <div class="hover-content">
            <a
              data-fancybox="gallery"
              href="{% static 'media/img/gallery/Night5.jpg' %}"
              class="portfolio-img"
              ><i class="ri-heart-3-line"></i></a
            >
          </div>
        </div>
      </div>
  </div>
</section>
