{% load static %}
<section class="services-one-section mx-70">
  <div class="auto-container">
    <img
    src="{% static 'media/img/undercontent/leaf3.png' %}"
    id="leaf3"
    class="undercontent"
  />
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div
          class="service-one-block wow fadeInUp"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
        >
          <h4 class="service-one-title">Luxury</h4>
          <div class="service-one-text">
            Positioned near Sariaya Beach, Lido Shores Resort offers guests a
            prestigious coastal locale, providing convenient access to the
            pristine sands and azure waters of the beachfront.
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div
          class="service-one-block wow fadeInDown"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
        >
          <h4 class="service-one-title">Inclusivity</h4>
          <div class="service-one-text">
            The resort extends a warm embrace to its guests, fostering an
            atmosphere of inclusivity that fosters relaxation and a sense of
            belonging.
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div
          class="service-one-block wow fadeInUp"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
        >
          <h4 class="service-one-title">Delectable</h4>
          <div class="service-one-text">
            Nestled in a picturesque renowned for its culinary mastery,
            presenting an array of gastronomic delights crafted with precision
            and artistry.
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div
          class="service-one-block wow fadeInDown"
          data-wow-delay="0ms"
          data-wow-duration="1500ms"
        >
          <h4 class="service-one-title">Opulence</h4>
          <div class="service-one-text">
            With an unwavering commitment to excellence, Lido Shores Resort
            ensures that each guest receives impeccable hospitality throughout
            their stay.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
