{% load static %}
              {% comment %} <div class="col-lg-8">
                  <!--Filter-->
                  <div class="filters">
                      <ul class="filter-tabs filter-btns">
                          <li class="filter active" data-role="button" data-filter=".all">All</li>
                          <li class="filter" data-role="button" data-filter=".cat-1">Casita</li>
                          <li class="filter" data-role="button" data-filter=".cat-2">Villa</li>
                          <li class="filter" data-role="button" data-filter=".cat-3">One Bed Room Villa</li>
                          <li class="filter" data-role="button" data-filter=".cat-4">Cove</li>
                          <li class="filter" data-role="button" data-filter=".cat-5">Hut</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="full-container">  
          <!--Sortable Galery-->
          <div class="sortable-masonry">
              
              <div class="items-container row">
                  <div class="gallery-block-one masonry-item all cat-1 col-lg-4 col-md-6">
                      <div class="gallery-one-box">
                          <div class="gallery-one-image">
                              <img src="{% static 'media/img/Rooms/Casita.jpg' %}" alt="">
                          </div>
                          <div class="gallery-one-content">
                              <h4 class="gallery-one-title" style="text-decoration: none;">Casita</h4>
                              <div class="gallery-one-text">P10,950 /night | Good for 3pax<span class="gallery-one-rating">4 <i class="fas fa-star"></i></span></div>
                              <div class="gallery-one-like"><i class="far fa-heart"></i></div>
                          </div>
                      </div>
                  </div>
                  <div class="gallery-block-one masonry-item all cat-2 col-lg-8 col-md-12">
                      <div class="gallery-one-box">
                          <div class="gallery-one-image">
                              <img src="{% static 'media/img/Rooms/One_Bedroom_Villa.jpg' %}" alt="">
                          </div>
                          <div class="gallery-one-content">
                            <h4 class="gallery-one-title" style="text-decoration: none;">One Bedroom Villa</h4>
                            <div class="gallery-one-text">P7,250 /night | Good for 3pax <span class="gallery-one-rating">4 <i class="fas fa-star"></i></span></div>
                            <div class="gallery-one-like"><i class="far fa-heart"></i></div>
                          </div>
                      </div>
                  </div>
                  <div class="gallery-block-one masonry-item all cat-3 col-lg-4 col-md-6">
                      <div class="gallery-one-box">
                          <div class="gallery-one-image">
                              <img src="{% static 'media/img/Rooms/Villa.jpg' %}" alt="">
                          </div>
                          <div class="gallery-one-content">
                            <h4 class="gallery-one-title" style="text-decoration: none;">Villa</h4>
                            <div class="gallery-one-text">P6,750/night | Good for 3pax<span class="gallery-one-rating">4 <i class="fas fa-star"></i></span></div>
                            <div class="gallery-one-like"><i class="far fa-heart"></i></div>
                          </div>
                      </div>
                  </div>
                  <div class="gallery-block-one masonry-item all cat-4 col-lg-4 col-md-6">
                      <div class="gallery-one-box">
                          <div class="gallery-one-image">
                              <img src="{% static 'media/img/Rooms/Cove.jpg' %}" alt="">
                          </div>
                          <div class="gallery-one-content">
                            <h4 class="gallery-one-title" style="text-decoration: none;">Cove</h4>
                            <div class="gallery-one-text">P4,950/night | Good for 2pax<span class="gallery-one-rating">4 <i class="fas fa-star"></i></span></div>
                            <div class="gallery-one-like"><i class="far fa-heart"></i></div>
                          </div>
                      </div>
                  </div>
                  <div class="gallery-block-one masonry-item all cat-5 col-lg-4 col-md-6">
                      <div class="gallery-one-box">
                          <div class="gallery-one-image">
                              <img src="{% static 'media/img/Rooms/Hut.jpg' %}" alt="">
                          </div>
                          <div class="gallery-one-content">
                            <h4 class="gallery-one-title" style="text-decoration: none;">Hut</h4>
                            <div class="gallery-one-text">P4,150/night | Good for 2pax<span class="gallery-one-rating">4 <i class="fas fa-star"></i></span></div>
                            <div class="gallery-one-like"><i class="far fa-heart"></i></div>
                          </div>
                      </div>
                  </div>

              </div>
          </div>
          <div class="gallery-one-view-all-btn text-center mt-40 mb-30"><a href="gallery.html" class="btn-one large-btn">View All Areas<span></span></a></div>
      </div> {% endcomment %}
      <section class="gallery-one-section mx-70">
        <div class="glass">
        <div class="auto-container" style="background: transparent;">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <div class="title-box">
                        <div class="sub-title" style="color: var(--txtprimary);">Discover the Lido Experience</div>
                        <h1 class="sec-title">Lido Galleries</h1>
                    </div>
                </div>
                <div class="col-lg-8">
                    <!--Filter-->
                    <div class="filters">
                        <ul class="filter-tabs filter-btns">
                            <li class="filter active" data-role="button" data-filter=".all">All</li>
                            <li class="filter" data-role="button" data-filter=".cat-1">Cafe</li>
                            <li class="filter" data-role="button" data-filter=".cat-2">Day Tour</li>
                            <li class="filter" data-role="button" data-filter=".cat-3">Night Tour</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-container">  
            <!--Sortable Galery-->
            <div class="sortable-masonry">
                
                {% comment %} Cafe Section {% endcomment %}
                <div class="items-container row">
                    <div class="gallery-block-one masonry-item all cat-1 col-lg-4 col-md-1">
                        <div class="gallery-one-box">
                            <div class="gallery-one-image">
                                <img src="{% static 'media/img/gallery/Cafe1.jpg' %}" alt="">
                            </div>
                            <div class="gallery-one-content">
                                <h4 class="gallery-one-title" style="text-decoration: none;">Cafe 1</h4>
                                <div class="gallery-one-text">Open area for relaxation<span class="gallery-one-rating">4.3 <i class="fas fa-star"></i></span></div>
                                <div class="gallery-one-like"><i class="far fa-heart"></i></div>
                            </div>
                        </div>
                    </div>
      
                    <div class="gallery-block-one masonry-item all cat-1 col-lg-8 col-md-1">
                        <div class="gallery-one-box">
                            <div class="gallery-one-image">
                                <img src="{% static 'media/img/gallery/Cafe2.jpg' %}" alt="">
                            </div>
                            <div class="gallery-one-content">
                              <h4 class="gallery-one-title" style="text-decoration: none;">Cafe 2</h4>
                              <div class="gallery-one-text">Open area for relaxation<span class="gallery-one-rating">4.3 <i class="fas fa-star"></i></span></div>
                              <div class="gallery-one-like"><i class="far fa-heart"></i></div>
                            </div>
                        </div>
                    </div>
      
                    <div class="gallery-block-one masonry-item all cat-1 col-lg-4 col-md-1">
                        <div class="gallery-one-box">
                            <div class="gallery-one-image">
                                <img src="{% static 'media/img/gallery/Cafe4.jpg' %}" alt="">
                            </div>
                            <div class="gallery-one-content">
                              <h4 class="gallery-one-title" style="text-decoration: none;">Cafe 3</h4>
                              <div class="gallery-one-text">Open area for relaxation<span class="gallery-one-rating">4.3 <i class="fas fa-star"></i></span></div>
                              <div class="gallery-one-like"><i class="far fa-heart"></i></div>
                            </div>
                        </div>
                    </div>
      
                    {% comment %} Night Tour Section {% endcomment %}
                    <div class="gallery-block-one masonry-item all cat-3 col-lg-4 col-md-1">
                        <div class="gallery-one-box">
                            <div class="gallery-one-image">
                                <img src="{% static 'media/img/gallery/Night1.jpg' %}" alt="">
                            </div>
                            <div class="gallery-one-content">
                              <h4 class="gallery-one-title" style="text-decoration: none;">Night Tour 1</h4>
                              <div class="gallery-one-like"><i class="far fa-heart"></i></div>
                            </div>
                        </div>
                    </div>
      
                    <div class="gallery-block-one masonry-item all cat-3 col-lg-8 col-md-2">
                        <div class="gallery-one-box">
                            <div class="gallery-one-image">
                                <img src="{% static 'media/img/gallery/Night2.jpg' %}" alt="">
                            </div>
                            <div class="gallery-one-content">
                              <h4 class="gallery-one-title" style="text-decoration: none;">Night Tour 2</h4>
                              <div class="gallery-one-like"><i class="far fa-heart"></i></div>
                            </div>
                        </div>
                    </div>
      
                    <div class="gallery-block-one masonry-item all cat-3 col-lg-4 col-md-3">
                        <div class="gallery-one-box">
                            <div class="gallery-one-image">
                                <img src="{% static 'media/img/gallery/Night3.jpg' %}" alt="">
                            </div>
                            <div class="gallery-one-content">
                              <h4 class="gallery-one-title" style="text-decoration: none;">Night Tour 3</h4>
                              <div class="gallery-one-like"><i class="far fa-heart"></i></div>
                            </div>
                        </div>
                    </div>
      
                    {% comment %} Day Tour Section {% endcomment %}
                    <div class="gallery-block-one masonry-item all cat-2 col-lg-4 col-md-1">
                        <div class="gallery-one-box">
                            <div class="gallery-one-image">
                                <img src="{% static 'media/img/gallery/Day2.jpg' %}" alt="">
                            </div>
                            <div class="gallery-one-content">
                              <h4 class="gallery-one-title" style="text-decoration: none;">Day Tour 1</h4>
                              <div class="gallery-one-like"><i class="far fa-heart"></i></div>
                            </div>
                        </div>
                    </div>
      
                    <div class="gallery-block-one masonry-item all cat-2 col-lg-4 col-md-1">
                        <div class="gallery-one-box">
                            <div class="gallery-one-image">
                                <img src="{% static 'media/img/gallery/Day3.jpg' %}" alt="">
                            </div>
                            <div class="gallery-one-content">
                              <h4 class="gallery-one-title" style="text-decoration: none;">Day Tour 2</h4>
                              <div class="gallery-one-like"><i class="far fa-heart"></i></div>
                            </div>
                        </div>
                    </div>
      
                    <div class="gallery-block-one masonry-item all cat-2 col-lg-4 col-md-1">
                        <div class="gallery-one-box">
                            <div class="gallery-one-image">
                                <img src="{% static 'media/img/gallery/Day4.jpg' %}" alt="">
                            </div>
                            <div class="gallery-one-content">
                              <h4 class="gallery-one-title" style="text-decoration: none;">Day Tour 3</h4>
                              <div class="gallery-one-like"><i class="far fa-heart"></i></div>
                            </div>
                        </div>
                    </div>
      
                </div>
            </div>
              <div class="gallery-one-view-all-btn text-center mt-40 mb-30"><a href="{% url 'lido-gallery' %}" class="btn-one large-btn">View All Areas +<span></span></a></div>
          </div>
      </section>