{% load static %}
<section class="news-two-section style-two mx-70">
  <img
  src="{% static 'media/img/undercontent/leaf1.png' %}" 
  id="leaf1"
  class="undercontent"
/>
  <div class="glass">
  <div class="auto-container" style="background: transparent; padding-bottom: 0; text-align: center;">
    <div class="title-box" >
      <div class="sub-title" style="color: var(--txtprimary);">See whats happening</div>
      <h1 class="sec-title">Cafe & Lido Updates</h1>
    </div>
  </div>
</div>

  <div class="auto-container full-width" style="padding-top: 25px;">
    <div class="theme_carousel_wrapper">
      <div
        class="theme_carousel owl-theme owl-carousel owl-nav-style-one"
        data-options='{"loop": true, "center": false, "margin": 30, "autoheight":true, "lazyload":true, "nav": true, "mouseDrag": false, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 1000, "responsive":{ "0" :{ "items": "1" }, "480" :{ "items" : "1" }, "768" :{ "items" : "2" }, "992" :{ "items" : "3" } , "1200":{ "items" : "4" }, "1600":{ "items" : "5" }}}'
      >
        <div class="news-one-block style-two">
          <div class="news-one-image">
            <div class="img_hover_3">
              <a href="blog-details.html"
                ><img src="{% static 'media/img/update/test.jpg' %}" alt=""
              /></a>
            </div>
          </div>
          <div class="news-one-content-bottom">
            <div class="news-one-post-meta">May 05, 2024 / Lido Team</div>
            <h4 class="news-one-title">
              <a href="blog-details.html">Day Tour Rates starting at P330!</a>
            </h4>
            <div class="read-more">
              <a href="blog-details.html" class="reader-more-link"
                >Read More +</a
              >
            </div>
          </div>
        </div>

        <div class="news-one-block style-two">
          <div class="news-one-image">
            <div class="img_hover_3">
              <a href="blog-details.html"
                ><img src="{% static 'media/img/update/update2.jpg' %}" alt=""
              /></a>
            </div>
          </div>
          <div class="news-one-content-bottom">
            <div class="news-one-post-meta">Feb 14, 2024 / By Lido Team</div>
            <h4 class="news-one-title">
              <a href="blog-details.html"
                >Be a part of our team at Lido Shores!</a
              >
            </h4>
            <div class="read-more">
              <a href="blog-details.html" class="reader-more-link"
                >Read More +</a
              >
            </div>
          </div>
        </div>

        <div class="news-one-block style-two">
          <div class="news-one-image">
            <div class="img_hover_3">
              <a href="blog-details.html"
                ><img src="{% static 'media/img/update/update3.jpg' %}" alt=""
              /></a>
            </div>
          </div>
          <div class="news-one-content-bottom">
            <div class="news-one-post-meta">Feb 14, 2024 / By Lido Team</div>
            <h4 class="news-one-title">
              <a href="blog-details.html"
                >Night Tour Rates starting at P500! 👀</a
              >
            </h4>
            <div class="read-more">
              <a href="blog-details.html" class="reader-more-link"
                >Read More +</a
              >
            </div>
          </div>
        </div>

        <div class="news-one-block style-two">
          <div class="news-one-image">
            <div class="img_hover_3">
              <a href="blog-details.html"
                ><img src="{% static 'media/img/update/update4.jpg' %}" alt=""
              /></a>
            </div>
          </div>
          <div class="news-one-content-bottom">
            <div class="news-one-post-meta">Jan 28, 2024 / By Lido Team</div>
            <h4 class="news-one-title">
              <a href="blog-details.html"
                >We are Hiring: Lido Shores Head Chef!</a
              >
            </h4>
            <div class="read-more">
              <a href="blog-details.html" class="reader-more-link"
                >Read More +</a
              >
            </div>
          </div>
        </div>

        <div class="news-one-block style-two">
          <div class="news-one-image">
            <div class="img_hover_3">
              <a href="blog-details.html"
                ><img src="{% static 'media/img/update/update5.jpg' %}" alt=""
              /></a>
            </div>
          </div>
          <div class="news-one-content-bottom">
            <div class="news-one-post-meta">-- / --</div>
            <h4 class="news-one-title">
              <a href="blog-details.html">This is a placeholder lol!</a>
            </h4>
            <div class="read-more">
              <a href="blog-details.html" class="reader-more-link"
                >Read More +</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
