{% load static %}
<section class="testimonials-one-section pt-0">        
    <div class="auto-container">
        <div class="title-box text-center">
            <div class="sub-title" style="color: var(--txttertiary);">Feedback</div>
            <h2 class="sec-title" style="color: var(--txttertiary);">What Guest Says?</h2>
        </div>
        <div class="testimonial-one-wrapper-box style-two">
            <div class="testimonial-one-slider">
                <div class="theme_carousel owl-theme owl-carousel owl-dot-style-one" data-options='{"loop": true, "center": false, "margin": 30, "autoheight":true, "lazyload":true, "nav": true, "mouseDrag": false, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 1000, "responsive":{ "0" :{ "items": "1" }, "480" :{ "items" : "1" }, "600" :{ "items" : "1" }, "768" :{ "items" : "2" } , "992":{ "items" : "3" }, "1200":{ "items" : "3" }}}'>
                    <div class="testimonial-one-slider-item">
                        <div class="testimonial-one-text"> {% lorem 1 random %}</div>
                        <div class="testimonial-one-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="testimonial-one-author-info">
                            <div class="testimonial-one-author-logo"><img src="{% static 'media/img/components/feedback-guest-active.png' %}" alt=""></div>
                            <div class="testimonial-one-author-name">Anonymous User</div>
                            <div class="testimonial-one-designation">Villa 4</div>
                        </div>
                    </div>

                    <div class="testimonial-one-slider-item">
                        <div class="testimonial-one-text"> {% lorem 1 random %}</div>
                        <div class="testimonial-one-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="testimonial-one-author-info">
                            <div class="testimonial-one-author-logo"><img src="{% static 'media/img/components/feedback-guest-active.png' %}" alt=""></div>
                            <div class="testimonial-one-author-name">Anonymous User</div>
                            <div class="testimonial-one-designation">Cove 2</div>
                        </div>
                    </div>

                    <div class="testimonial-one-slider-item">
                        <div class="testimonial-one-text"> {% lorem 1 random %}</div>
                        <div class="testimonial-one-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="testimonial-one-author-info">
                            <div class="testimonial-one-author-logo"><img src="{% static 'media/img/components/feedback-guest-active.png' %}" alt=""></div>
                            <div class="testimonial-one-author-name">Anonymous User</div>
                            <div class="testimonial-one-designation">Hut 1</div>
                        </div>
                    </div>

                    <div class="testimonial-one-slider-item">
                        <div class="testimonial-one-text"> {% lorem 1 random %}</div>
                        <div class="testimonial-one-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                        </div>
                        <div class="testimonial-one-author-info">
                            <div class="testimonial-one-author-logo"><img src="{% static 'media/img/components/feedback-guest-inactive.png' %}" alt=""></div>
                            <div class="testimonial-one-author-name">Anonymous User</div>
                            <div class="testimonial-one-designation">Hut 1</div>
                        </div>
                    </div>

                    <div class="testimonial-one-slider-item">
                        <div class="testimonial-one-text"> {% lorem 1 random %}</div>
                        <div class="testimonial-one-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="testimonial-one-author-info">
                            <div class="testimonial-one-author-logo"><img src="{% static 'media/img/components/feedback-guest-inactive.png' %}" alt=""></div>
                            <div class="testimonial-one-author-name">Anonymous User</div>
                            <div class="testimonial-one-designation">Casita 6</div>
                        </div>
                    </div>
                    
                    <div class="testimonial-one-slider-item">
                        <div class="testimonial-one-text"> {% lorem 1 random %}</div>
                        <div class="testimonial-one-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="testimonial-one-author-info">
                            <div class="testimonial-one-author-logo"><img src="{% static 'media/img/components/feedback-guest-active.png' %}" alt=""></div>
                            <div class="testimonial-one-author-name">Anonymous User</div>
                            <div class="testimonial-one-designation">Villa 4</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>